<div>
  <!-- Carousel Start -->
  <div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="w-100" src="/assets/blogs5.jpg" alt="Image">
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 900px;">
              <h4 class="text-white text-uppercase mb-md-3">Tours & Travel</h4>
              <h1 class="display-3 text-white mb-md-4">Let's Discover The World Together</h1>
              <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Book Now</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="w-100" src="/assets/cablecar.jpg" alt="Image">
          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 900px;">
              <h4 class="text-white text-uppercase mb-md-3">Tours & Travel</h4>
              <h1 class="display-3 text-white mb-md-4">Discover Amazing Places With Us</h1>
              <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Book Now</a>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark d-flex align-items-center" style="width: 45px; height: 45px;">
          <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
      </a>
      <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark d-flex align-items-center" style="width: 45px; height: 45px;">
          <span class="carousel-control-next-icon mb-n2"></span>
        </div>
      </a>
    </div>
  </div>
  <!-- Carousel End -->
  <section id="planner" class="container-fluid">
    <h1 class="title" style="margin-bottom: 4rem">Start Your Trip</h1>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="tripplaner-contain">
          <div class="tripplaner-contain__wrp">
            <div class="tripplaner-contain__item">
              <div class="tripplaner-contain__img">

                <img src="assets/travelplanner2.gif">
              </div>
              <div class="tripplaner-contain__content">
                <!-- <span class="tripplaner-contain__code">New Feature</span> -->
                <div class="tripplaner-contain__title">Trip Planner</div>
                <div class="tripplaner-contain__text">Try our new feature to plan your own trip flexible.</br>
                  A full day by day itinerary based on your preferences.</br>
                  Refine your trip. We'll find the best routes and schedules
                </div>
                <a href="/plan" class="tripplaner-contain__button">START PLANING</a>
              </div>
            </div>

          </div>
          <div class="tripplaner-contain__pagination"></div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="tripplaner-contain">
          <div class="tripplaner-contain__wrp">
            <div class="tripplaner-contain__item">
              <div class="tripplaner-contain__img">

                <lottie-player src="https://assets4.lottiefiles.com/private_files/lf30_wmyqwinw.json"
                  background="#6E6B6B" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
              </div>
              <div class="tripplaner-contain__content">
                <!-- <span class="tripplaner-contain__code">New Feature</span> -->
                <div class="tripplaner-contain__title">Route Comparison</div>
                <div class="tripplaner-contain__text">Find all recommended Routes for your Ditination From different
                  Bloggers </br>
                  Compare Multiple Routes Side-by-Side.</br>
                  Merge Routes and edit them.
                </div>
                <a href="#" class="tripplaner-contain__button">SEARCH ROUTES</a>
              </div>
            </div>

          </div>
          <div class="tripplaner-contain__pagination"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- Best Tours Cards Start -->
  <section id="bestTours" class="container-fluid">
    <h1 class="title">Best Tours</h1>
    <div class="row">
      <% tours.forEach(function(tour) { %>
        <div class="col-xl-4 col-md-6">
          <div class="karte rgb">
            <div class="card-image">
              <img src='<%= tour.image %>' />
            </div>
            <div class="card-text">
              <span class="blogger">
                <%= tour.blogger %>
              </span>
              <h2>
                <%= tour.name %>
              </h2>
              <p>
                <%= tour.description %>
              </p>
            </div>
            <div class="tour-cta">
              <a href="/tour?id=<%= tour.id %>" class="btn checkout">
                Checkout
              </a>
              <a href="/tour?id=<%= tour.id %>" class="btn readMore">
                Read more
              </a>
            </div>
          </div>
        </div>
        <% }); %>
    </div>
  </section>

  <!-- Best Tours Cards End -->
  <section id="par" class="container-fluid">
    <h2>Revolutionize Your Travel Experience with us</h2>
    <p>
      Experience the world in a new way,<br />
      bring your destination to life,<br />
      creating unforgettable memories that will last a lifetime
    </p>
  </section>

  <section id="stories">
    <h2 class="title">Stories</h2>
    <div class="row m-0 stories-wrapper">
      <div class="c-preview">
        <div class="story1 c-preview__img">
        </div>
        <h4 class="c-preview__title">Paris</h4>
      </div>
      <div class="c-preview">
        <div class="story2 c-preview__img">
        </div>
        <h4 class="c-preview__title">Ice Land</h4>
      </div>
      <div class="c-preview">
        <div class="story3 c-preview__img">
        </div>
        <h4 class="c-preview__title">Pisa Tower</h4>
      </div>
      <div class="c-preview">
        <div class="story4 c-preview__img">
        </div>
        <h4 class="c-preview__title">Tokyo</h4>
      </div>
      <!-- <div class="story1">
        <h4>Paris</h4>
      </div>
      <div class="story2">
        <h4>Ice Land</h4>
      </div>
      <div class="story3">
        <h4>Pisa Tower</h4>
      </div>
      <div class="story4">
        <h4>Tokyo</h4>
      </div> -->
    </div>
    <!-- <div  style="background: var(--grey1);">
        asdsadsad
    </div> -->
    <div class="more-stories">
      <h3>Click For More Stories <i class="fa-solid fa-chevron-right"></i></h3>
    </div>
  </section>
  <!-- <div class=" besbes">
   <div class="row">

<div class="col-md-4">
    <div class="besttours" id="besttours" style="height: 500px;">

    </div>
    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_Ugxaj74fGV.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
    <h1 class="tours-title" >
        Best Tours
    </br>
        For
        2023
    </h1>
</div>
</div>
</div> -->



  <!-- <div style="margin-top: 5rem;">
<div class="row">
<div class="col-8" style="margin-top: 8rem;">

</div>
<div class="col-4">
    <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_npJF362rsV.json"  background="transparent"  speed="1"  style="width: 100%; height: 650px;"  loop  autoplay></lottie-player>
</div>
</div>
</div>

<div>
    <div class="row">
       <div class="col-8">

       </div>

       <div class="col-4">
        <lottie-player id="routs-lottie" src="https://assets1.lottiefiles.com/packages/lf20_b2lc5tdx.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
       </div>
    </div>
</div>
</div> -->