<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <header>
    <%- include("partials/topbar")%>
    <%- include("partials/navbar")%>
  </header>
  <main>
    <%- include(content)%>
  </main>
  <footer>
    <%- include("partials/footer")%>
  </footer>
  <%- include("partials/scripts")%>
</body>
</html>





    <!-- <script type="text/javascript">
        var text = document.getElementById('findtext')
        var shadow = '';
        for (var i = 0; i < 10; i++)
        {
          shadow +=(shadow? ',':'')+ -i*1+'px '+ i*1+ 'px 0 #d9d9d9';
        }
        text.style.textShadow = shadow;
      </script> -->

