<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <!-- <div class="splash">
  <div class="splash_overlay"></div>
  <div class="splash_loader">
    <lottie-player src="/assets/loaders/loading.json"  background="transparent"  speed="1"   loop  autoplay></lottie-player>
  </div>
    <img src="/assets/earth.gif" />
    <div class="splash_text">
      <h2>Visit The World</h2>
      <h2>Visit The World</h2>
    </div>
  </div> -->
  <header>
    <%- include("partials/topbar")%>
    <%- include("partials/navbar")%>
  </header>
  <main>
    <%- include(content)%>
  </main>
  <footer>
    <%- include("partials/footer")%>
  </footer>
  <%- include("partials/scripts")%>
</body>
</html>





    <!-- <script type="text/javascript">
        var text = document.getElementById('findtext')
        var shadow = '';
        for (var i = 0; i < 10; i++)
        {
          shadow +=(shadow? ',':'')+ -i*1+'px '+ i*1+ 'px 0 #d9d9d9';
        }
        text.style.textShadow = shadow;
      </script> -->

